<!DOCTYPE html>
<%- include("./include/student_head") %>

<!-- Content -->
<body>
    <%- include("./include/student_navbar") %>

    <%- include("./include/student_footer") %>

    <div class="main">
        <% for (var i=0; i<json_courses.length; i++) { %>
        <div class="row mx-5 mt-4 mb-3">
            <div class="col-lg-12 mt-2 mb-2">
                <div class="card shadow">
                    <div class="card-body statistic border-0">
                        <div class="row d-flex justify-content-between">
                            <div class="col-lg-8">
                                <h5 class="heading"><strong><%= json_courses[i][0].type %></strong></h5>
                            </div>
                            <div class="col-lg-4 d-flex justify-content-end">
                                <a class="btn btn-primary border-0" href="/activeEnrollements/<%= json_courses[i][0].id %>/<%= json_student[0].id %>">Ver Disciplina</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>

    <script>
        $("#searchText").hide()
     </script>
</body>