<!DOCTYPE html>
<%- include("./include/student_head") %>

<!-- Content -->
<body>
    <%- include("./include/student_navbar") %>

    <!-- Footer -->
    <%- include("./include/student_footer") %>
    <div class="main mt-2">
        <% for (var i=0; i<json_courses.length; i++) { %>
        <div class="row mx-3 mt-3 mb-3">
            <div class="col-lg-12">
                <div class="card shadow">
                    <div class="card-body statistic border-0">
                        <h5 class="heading"><strong><%= json_courses[i].type %></strong></h5>
                        <div class="row d-flex justify-content-end">
                            <div class="col-lg-4 d-flex justify-content-end">
                                <% for (let j=0; j<json_courses.length;j++) { %>
                                    <% if (!json_enrollements[j]) { %>
                                        <form>
                                            <button id="enroll<%= json_courses[i].id %>" class="btn btn-primary border-0" type="button">Inscrever na Disciplina</button>
                                            <script>
                                                let enrollBtn = document.getElementById("enroll<%= json_courses[i].id %>")
                                                enrollBtn.addEventListener("click", () => {
                                                    fetch('/enrollCourse/<%= json_courses[i].id %>/<%= json_student[0].id %>', {
                                                        method: 'POST',
                                                        headers: {
                                                            'Content-Type': 'application/json'
                                                        },
                                                    }).then((response) => {
                                                        if (response.status == 201) {
                                                            location.reload()
                                                        }
                                                    })
                                                })
                                            </script>
                                        </form>
                                    <% } else if (json_courses[i].id == json_enrollements[j].id_course) {  %>
                                        <button class="btn btn-primary border-0" type="button" disabled>Inscrever na Disciplina</button>
                                    <% break } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>

</body>