<!DOCTYPE html>
<%- include("../include/student/student_head") %>

<!-- Content -->
<body>
	<%- include("../include/student/student_navbar") %>

	<div class="main">
		<div class="row d-flex justify-content-center mt-5 mb-4">
			<div class="col-lg-11">
				<div class="card shadow">
					<div class="card-body statistic">
						<div class="row mx-3 mt-3">
							<div class="col lg-6">
								<h2 class="heading"><strong>Teste</strong></h2>
							</div>
							<div class="col lg-6 d-flex justify-content-end">
								<h5 class="heading mt-2">
									<strong>Data da criação do Teste: </strong><%=
									json_test.test_date %>
								</h5>
							</div>
						</div>
						<div class="row mx-4 mt-3 d-flex justify-content-start">
							<div class="col-lg-12">
								<label for="question_1" class="h5"
									><strong><%= json_test.question_1 %></strong></label
								>
								<textarea
									id="question_1"
									name="question_1"
									rows="4"
									class="form-control mt-2"
									placeholder="Resposta.."
								></textarea>
							</div>
						</div>
						<div class="row mx-4 mt-4 d-flex justify-content-start">
							<div class="col-lg-12">
								<label for="question_2" class="h5"
									><strong><%= json_test.question_2 %></strong></label
								>
								<textarea
									id="question_2"
									name="question_2"
									rows="4"
									class="form-control mt-2"
									placeholder="Resposta.."
								></textarea>
							</div>
						</div>
						<div class="row mx-4 mt-4 d-flex justify-content-start">
							<div class="col-lg-12">
								<label for="question_3" class="h5"
									><strong><%= json_test.question_3 %></strong></label
								>
								<textarea
									id="question_3"
									name="question_3"
									rows="4"
									class="form-control mt-2"
									placeholder="Resposta.."
								></textarea>
							</div>
						</div>
						<div class="row mx-4 mt-4 mb-2 d-flex justify-content-start">
							<div class="col-lg-12">
								<label for="question_4" class="h5"
									><strong><%= json_test.question_4 %></strong></label
								>
								<textarea
									id="question_4"
									name="question_4"
									rows="4"
									class="form-control mt-2"
									placeholder="Resposta.."
								></textarea>
							</div>
						</div>
						<div class="row mx-4 mt-4 d-flex justify-content-between">
							<div class="col-lg-8">
								<div
									class="alert alert-success"
									id="submitSuccess"
									role="alert"
									style="display: none"
								>
									Teste submetido com sucesso!
								</div>
								<div
									class="alert alert-warning"
									id="submitFailed"
									role="alert"
									style="display: none"
								>
									Teste não submetido. Apenas pode submeter uma vez!
								</div>
							</div>
							<div class="col-lg-4 d-flex justify-content-end">
								<button class="btn btn-lg btn-primary" id="submitButton">
									Submeter
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		let submitButton = document.getElementById('submitButton');

		submitButton.addEventListener('click', async () => {
			let question_1 = $('#question_1').val();
			let question_2 = $('#question_2').val();
			let question_3 = $('#question_3').val();
			let question_4 = $('#question_4').val();

			const form = {
				question_1: question_1,
				question_2: question_2,
				question_3: question_3,
				question_4: question_4,
			};

			const formTest = JSON.stringify(form);
			console.log(formTest);

			await fetch(
				'/submitTest/<%= json_test.id %>/<%= json_test.id_course %>',
				{
					method: 'POST',
					body: formTest,
					headers: {
						Accept: 'application/json',
						'Content-Type': 'application/json',
					},
				}
			).then((response) => {
				if (response.status == 201) {
					$('#submitSuccess').fadeIn();
					setTimeout(() => {
						$('#submitSuccess').fadeOut();
					}, 2500);
				} else if (response.status == 403) {
					$('#submitFailed').fadeIn();
					setTimeout(() => {
						$('#submitFailed').fadeOut();
					}, 2500);
				}
			});
		});
	</script>
</body>
