<!DOCTYPE html>
<%- include("../include/professor/professor_head") %>

<!-- Content -->

<body>
   <%- include("../include/professor/professor_navbar") %>

   <!-- Footer -->
   <%- include("../include/professor/professor_utils") %>

   <div class="main">
      <div class="container">
          <div class="row mt-4 mx-3">
              <div class="col-lg-12">
                  <h2 class="heading">Lista de Alunos</h2>
                  <small>Aqui pode encontrar os alunos inscritos nas suas disciplinas.</small>
              </div>
          </div>
          <br>
          <div class="row mt-1 mx-2">
                <% for( let i = 0; i < json_students.length; i++ ) { %>
                    <div class="col-lg-12 mx-3 mt-2 mb-2">
                        <div class="card shadow">
                            <div class="card-body statistic w-100">
                                <div class="row mt-1">
                                    <div class="col-lg-6">
                                        <h4><%= json_students[i].name %></4>
                                    </div>
                                    <div class="col-lg-6 d-flex justify-content-end"><h4><%= json_students[i].email %></h4></div>
                                </div>
                                <hr>
                                <div class="row mt-2">
                                    <h5 class="heading"><strong>Disciplinas Inscrito</strong></h5>
                                    <ul class="list-group list-group-flush mx-3">
                                        <% for (let j=0; j<json_enrollements.length;j++) { %>
                                            <% if (json_students[i].id == json_enrollements[j].id_student) { %>
                                            <% for (let k=0; k<num_courses;k++) { %>
                                                <% if (json_enrollements[j].id_course == json_courses[k].id) { %>
                                                    <li class="list-group-item border-0"><%= json_courses[k].type %></li>
                                                <% } %>
                                            <% } %>
                                            <% } %>
                                        <% } %>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
      </div>
   </div>
   <script>
        $("#addCourseBtn").hide();
        $("#addClassBtn").hide();
   </script>
</body>
